/* portrait version */
@media (orientation: portrait)
{
	*
	{
		box-sizing: border-box;
	}

	body
	{
		width: 100vw;
		height: 100vh;
		margin: 0;
		font-family: sans-serif;
	}

	#topbar	
	{
		background: linear-gradient(grey, white);
		width: 100%;
		height: 8%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

		#topbar-player-div
		{
			margin-left: 1rem;
		}

		#topbar-fire-div
		{
			margin-right: 1rem;
		}

		#topbar-fire-btn
		{
			background-color: red;
			color: white;
		}
		
	#sidebar
	{
		display: none;
	}

	#playfield
	{
		background-color: black;
		width: 100%;
		height: 92%;
		display: block;
	}

	#mainmenu
	{
		position: absolute;
		width: 80%;
		height: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: linear-gradient(grey, white);
		display: grid;
		justify-content: center;
		align-items: center;
	}

	#mainmenu-title
	{
		margin: 0;
		text-align: center;
	}
}

/* landscape version */
@media (orientation: landscape)
{
	*
	{
		box-sizing: border-box;
	}
	
	body
	{
		width: 100vw;
		height: 100vh;
		margin: 0;
		font-family: sans-serif;
	}
	
	#topbar
	{
		display: none;
	}
	
	#sidebar
	{
		display: grid;
		float: right;
		background: linear-gradient(DimGray, LightGray);
		width: 30%;	
		height: 100%;
		justify-content: center;
		align-items: center;
	}
	
	#sidebar-player-div
	{
		text-align: center;
	}
	
	#sidebar-fire-btn
	{
		display: block;
		margin: 0 auto;
		background-color: red;
		color: white;
	}
	
	#playfield
	{
		float: left;
		background-color: black;
		height: 100%;
		width: 70%;
		display: block;
	}
	
	#mainmenu
	{
		/* display: none; */
		position: absolute;
		width: 80%;
		height: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: linear-gradient(grey, white);
		display: grid;
		justify-content: center;
		align-items: center;
	}
}